

@{
    ViewBag.Title = "Administration";
}


@{
    ViewBag.titre_page = "Administration";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;

}

@*<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Administration
</h2>*@
<br /><br />
<div class="row">
    <p>
        <div class="col-lg-12">

            @if (User.IsInRole("Admin_Medicis"))
            {

                <a class="btn btn-info alert label-info" style="background-color:brown; color:white" role="button" href="@Url.Action("Index", "Role")">Liste des roles</a>


                <a class="btn btn-info alert label-info" style="background-color:brown; color:white" role="button" href="@Url.Action("Index", "ApplicationUsers")">Liste des utilisateurs</a>
                <a class="btn btn-info alert label-info" style="background-color:brown; color:white" role="button" href="@Url.Action("Index", "FonctionsUsers")">Liste des fonctions</a>

            }

        </div>
    </p>

</div>