@model RHEVENT.Models.DA_TypesActions

<option value="">--selectionnez un type d'action</option>
@if (ViewBag.Tlist != null)
{
    foreach (var item in ViewBag.Tlist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}