@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.titre_page = "Erreur";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur est survenue l'ors d'éxecution de la rêquete , merci de vérifier vos critères ou de contacter l'administrateur de l'application .</h2>

