@{
        ViewBag.titre_page = "RH";
        ViewBag.email = ViewBag.email;
        ViewBag.nom_prenom = ViewBag.nom_prenom;
     
 }
  
<h2 class="text" style="color:blueviolet">
    <span class="glyphicon   glyphicon-credit-card"> </span>
    Autorisations
</h2>
<br /><br /> 
<div class="row">
    <p>
        <div class="col-lg-12">
            @*<span class="role user">*@
            <a class="btn btn-info alert label-warning" role="button" href="@Url.Action("Demander_autorisation", "Autorisation" )">Demande autorisation </a>

            <a class="btn btn-info alert label-warning" role="button" href="@Url.Action("Mes_autorisations", "Autorisation" )"> Mes autorisations </a>

            
            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || User.IsInRole("Admin_Medicis"))
            {
                <a class="btn btn-info alert label-warning" role="button" href="@Url.Action("Approbation_superieur_hiéarchique", "Autorisation")">Approbation Sup.Hiérarchique </a>
            }
        </div>
    </p>

</div>