body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 1px solid black;
    border-bottom-style: unset;
    border-top-style: unset;
    border-left-style: unset;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
        width: 100%;
        background-color: transparent;
        

    }
.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    /*color: #818181;*/
    display: block;
    transition: 0.3s;
    width: 100%;
    background-color: darkgray;
    color: white;
}


.menu {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: beige;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    /*padding-top: 60px;*/
}

.sidenav a:hover, .dropdown-btn:hover {
    color: crimson;
    background-color: cadetblue;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 25px;
    border: unset;
    background-color:transparent;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    z-index: 0;
    margin-left:20%;
}
.active {
    background-color:cadetblue;
    color: white;
}
.dropdown-container {
    display: none;
    background-color:aliceblue;
    padding-left: 8px;
}

.dropdown-container1 {
    display: block;
    background-color: aliceblue;
    padding-left: 8px;
}


.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
