@model RHEVENT.Models.E_Formation

@{
    ViewBag.titre_page = "E-learning";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}

<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Modification de formation
</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "E_Formation", FormMethod.Post , new { enctype = "multipart/form-data"  } ))
    {
        @Html.AntiForgeryToken()

    <div hidden>
        @(Session["code"] = Model.Code)
    </div>

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div class="form-horizontal">
            <br />
            
            <div class="form-group">
                <div class="control-label col-md-2" style="color:#666666">   </div>
                <div class="col-md-9">
                    <br /><input type="file" class="multiple" name="files" multiple />

                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">   </div>
                <div class="col-md-9">
                    <br />  <input type="submit" value="Modifier" class="btn btn-success" />
                </div>

            </div>

        </div>
        <br />

    }
   
</body>
</html>
