@model RHEVENT.Models.E_QCM

@{
    ViewBag.Title = "Création de QCM";
}
@{
    ViewBag.titre_page = "E-learning";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}

<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Gestion des évaluations - QCM
</h2>

<h3 class="text" style="color:cornflowerblue">Création de QCM</h3>
@*<br /><br />*@
<hr />
 
 
</html>
