
@{
    ViewBag.Title = "SupervisionRH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card-body">
        <button type="button" class="btn btn-outline-info btn-lg btn-block">Congés</button>
        <button type="button" class="btn btn-outline-info btn-lg btn-block">Autorisations</button>
        <button type="button" class="btn btn-outline-info btn-lg btn-block">Attestations</button>
    </div>
  </div>